
.headerPartBase{
    box-sizing: border-box;
    width:85%;
    height:94%;
    margin:auto;
    padding: 100px 0 0 0;
    color:white;
}

.headerPartContainer {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: row;
    

    h1 {
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        margin: 20vh 0 2vh 0;
        
    }

    .CityPt2 {
        display:flex;
        flex-direction: row;
        justify-content: row;
        align-items: flex-end;
        

        .CitySelectBtn {
            font-size: .85em;
            margin-right: 10vw;
            .headerH2Span{
                display:inline-block;
                margin-right: 10px;
                font-size: 3em;
            }
            :hover {
                cursor: pointer;
            }
        }

        .searchBtn {
            margin-right: 50px;
            box-sizing: border-box;
            width: 200px;
            height: 45px;
            background-color: -o-radial-gradient(#C989A2,#A2656C);
            background-image: radial-gradient(#C989A2,#A2656C);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size:1.3em;
            font-weight: 900;

            &:hover {
                cursor: pointer;
            }
        }
    }
    h2 {
        font-size: 2em;
    }

    
}

.headerPartLearnMore {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: auto;

    img{
        margin: 15px;
    }
    
}