.InfoNoBgContainer {
    height: 110vh;
    width: 90%;
    margin: 0 auto;
    padding: 8vh 0;
    background: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: .9em;


    .left {
        width: 45%;
        opacity: 1;
        padding: 50px;
        -o-transition: opacity 300ms linear;
        transition: opacity 300ms linear;

        
        
        h1 {
            color: #333;
        opacity: 1;
        font-size: 2.4em;
        }

        p{
            color: #4f4f4f;
            margin-top: 1em;
            font-size: 2em;
            font-weight: 500;
            -o-transition: color 300ms linear;
             transition: color 300ms linear;
            &:hover {
                color: black;
                opacity: 1;
            }
        }

       
    }
}