.CustomLink {
    margin: 0 auto 20px 0;
    font-size: calc(12px + 0.3vw);
    h2 {font-size: calc(14px + 0.35vw);
        color: orange;}
    
    &.grid{
        width: 6vw;
        margin-right: 10px;
        
    }
}